body {
  margin: 0;
  padding: 0;
  font: 75%/120% sans-serif;
}

#bPic {
  border: solid 1px #ccc;
  width: 1324px;
  height: 700px;
  padding: 5px;
}

#smPic a {
  border: solid 1px #ccc;
  width: 256px;
  height: 256px;
  padding: 3px;
  margin: 2px;
  float: left;
}

#smPic a:hover {
  border-color: #FF9900;
}

#smPic li {
  list-style: none;
}

#smPic {
  margin: 0;
  padding: 0;
}